body{
    -webkit-transition: 3s;
}

.skull{
    height: 190px;
    width: 195px;
    background-color: #cc0000;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
}

.skull::before{
    position: relative;
    background-color: #00000;
}

.earright{
    height: 84px;
    width: 18px;
    background-color: #cc0000;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 95px;
    left: 197px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
}

.earleft{
    height: 84px;
    width: 18px;
    background-color: #cc0000;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 95px;
    left: -2px;
    transform: translate(-50%, -50%);
}

.eyemask{
    height: 120px;
    width: 180px;
    background-color: #ffcc00;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forehead{
    height: 40px;
    width: 65px;
    background-color: #cc0000;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 3px -4px 4px rgba(13, 13, 13, 0.2);
}

.eyeright{
    height: 35px;
    width: 65px;
    background-color: #ffffff;
    border-top-left-radius: 80%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 75%;
    position: absolute;
    top: 70px;
    left: 75px;
    transform: translate(-40%, -50%);
    box-shadow: inset 3px 4px 3px rgba(13, 13, 13, 0.5);
    -webkit-transition: -webkit-box-shadow 3s;
}

.eyeleft{
    height: 35px;
    width: 65px;
    background-color: #ffffff;
    border-top-right-radius: 80%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 75%;
    position: absolute;
    top: 70px;
    left: -15px;
    transform: translate(-50%, -50%);
    box-shadow: inset 3px 4px 3px rgba(13, 13, 13, 0.5);
    -webkit-transition: -webkit-box-shadow 3s;
}

.sideright{
    height: 53px;
    width: 18px;
    background-color: #cc0000;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 35px;
    left: 176px;
    transform: translate(-50%, -50%);
}

.sideleft{
    height: 53px;
    width: 18px;
    background-color: #cc0000;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 35px;
    left: 6px;
    transform: translate(-50%, -50%);
}

.mouthmask{
    height: 40px;
    width: 85px;
    background-color: #ffcc00;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chin{
    height: 15px;
    width: 35px;
    background-color: #cc0000;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 3px 4px 4px rgba(13, 13, 13, 0.4);
}

.red{
    height: 100px;
    width: 120px;
    background-color: #cc0000;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
}

.center{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 5px solid #404040;
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.2),
    inset 3px 4px 4px rgba(13, 13, 13, 0.2);
    -webkit-transition: -webkit-box-shadow 2s;
}

.yellowright{
    height: 50px;
    width: 20px;
    background-color: #ffcc00;
    position: absolute;
    top: 55px;
    left: 110px;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 70%;
    border-top-left-radius: 10%;
    box-shadow: inset 3px 4px 2px rgba(13, 13, 13, 0.2);
}

.yellowleft{
    height: 50px;
    width: 20px;
    background-color: #ffcc00;
    position: absolute;
    top: 55px;
    left: 10px;
    transform: translate(-50%, -50%);
    border-bottom-right-radius: 70%;
    border-top-right-radius: 10%;
    box-shadow: inset -3px 4px 2px rgba(13, 13, 13, 0.2);
}

.hand{
    height: 70px;
    width: 70px;
    background-color: #cc0000;
    position: absolute;
    top: 25px;
    left: -15px;
    transform: translate(-50%, -50%);
    border-radius: 45%;
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
}

.handcenter{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 36px;
    left: 36px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-transition: -webkit-box-shadow 0.5s;
}

.finger1{
    height: 21px;
    width: 13px;
    background-color: #cc0000;
    border-radius: 45%;
    position: absolute;
    top: -25px;
    left: -20px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
    animation: fingermove1 1.5s infinite;
}

.finger2{
    height: 21px;
    width: 13px;
    background-color: #cc0000;
    border-radius: 45%;
    position: absolute;
    top: -10px;
    left: -50px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
    animation: fingermove2 1.5s infinite;
}

.finger3{
    height: 21px;
    width: 13px;
    background-color: #cc0000;
    border-radius: 45%;
    position: absolute;
    top: 23px;
    left: -60px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
    animation: fingermove3 1.5s infinite;
}

.finger4{
    height: 21px;
    width: 13px;
    background-color: #cc0000;
    border-radius: 45%;
    position: absolute;
    top: -15px;
    left: 15px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
    animation: fingermove4 1.5s infinite;
}

.finger5{
    height: 21px;
    width: 13px;
    background-color: #cc0000;
    border-radius: 45%;
    position: absolute;
    top: 13px;
    left: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 3px rgba(13, 13, 13, 0.5);
    animation: fingermove5 1.5s infinite;
}

#p1{
    text-align: center;
    padding-top: 410px;
    font-family: "Agency FB";
    font-size: 30px;
    color: #6A0C0B;
}

#p2{
    position: absolute;
    text-align: left;
    top: -170px;
    left: -280px;
    font-family: Fantasy;
    font-size: 100px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
}

#p3{
    position: absolute;
    text-align: left;
    top: -170px;
    left: 150px;
    font-family: Fantasy;
    font-size: 100px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
}

body:hover{
    background-color: #6A0C0B;
}

body:hover .eyeleft{
    height: 35px;
    width: 65px;
    background-color: #99ffff;
    border-top-right-radius: 80%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 75%;
    position: absolute;
    top: 70px;
    left: -15px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1.0), inset 3px 4px 3px rgba(13, 13, 13, 0.5);
}

body:hover .eyeright{
    height: 35px;
    width: 65px;
    background-color: #99ffff;
    border-top-left-radius: 80%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 75%;
    position: absolute;
    top: 70px;
    left: 75px;
    transform: translate(-40%, -50%);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1.0), inset 3px 4px 3px rgba(13, 13, 13, 0.5);
}

body:hover .center{
    height: 40px;
    width: 40px;
    background-color: #99ffff;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 5px solid #404040;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1.0),
    inset 3px 4px 4px rgba(13, 13, 13, 0.2);
}

body:hover .handcenter{
    height: 40px;
    width: 40px;
    background-color: #99ffff;
    position: absolute;
    top: 36px;
    left: 36px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1.0);
}

@keyframes fingermove1{
    0%{ top: -25px; }
    50%{ top: -30px; }
    100%{ top: -25px; }
}

@keyframes fingermove2{
    0%{ top: -10px; }
    50%{ top: -14px; }
    100%{ top: -10px; }
}

@keyframes fingermove3{
    0%{ top: 23px; }
    50%{ top: 18px; }
    100%{ top: 23px; }
}

@keyframes fingermove4{
    0%{ top: -15px; }
    50%{ top: -20px; }
    100%{ top: -15px; }
}

@keyframes fingermove5{
    0%{ top: 13px; }
    50%{ top: 10px; }
    100%{ top: 13px; }
}
